<div class="flex flex-col items-center my-8">
  {% form 'contact' %}
    {% if form.errors %}

      <div class="border p-5">
        <div class="flex flex-row items-center w-full my-3">
          <div class="text-red-500">
            {% render 'icon-failed' %}
          </div>
          <div class="text-sm font-medium ml-3">
            Your comment was not posted!
          </div>
        </div>
        <ul class="px-4 mb-3 ml-7 list-decimal">
          {% for error in form.errors %}
            <li>
              <span>
                {{ form.errors.messages[error] }}
              </span>
            </li>

          {% endfor %}
        </ul>
      </div>
    {% elsif form.posted_successfully? %}
      <div class="flex flex-row items-center w-full my-3 p-5">
        <div class="text-green-500">
          {% render 'icon-success' %}
        </div>
        <div class="text-sm font-medium ml-3">Your comment was posted successfully!</div>
      </div>
    {% endif %}


    <div class="flex flex-col items-center justify-center max-w-6xl px-4">
      <div class="flex px-1 mb-3">
        <div class="px-3 md:w-1/2">
          <label for="contact_name" class="uppercase text-xs text-gray-500 font-medium ">Name</label>
          <input
            class="border py-3 px-4 mb-3 text-gray-700 w-full"
            type="text"
            name="contact[name]"
            id="contact_name"
            required>
        </div>
        <div class="px-3 md:w-1/2">
          <label for="contact_email" class="uppercase text-xs text-gray-500 font-medium ">Email Address</label>
          <input
            class="border py-3 px-4 mb-3 text-gray-700 w-full"
            type="email"
            name="contact[email]"
            id="contact_email"
            required>
        </div>
      </div>


      <div class="flex px-1 mb-3">
        <div class="w-full px-3">
          <label class="uppercase text-xs text-gray-500 font-medium " for="contact_message">Message</label>
          <textarea
            class="border py-3 px-4 mb-3 text-gray-700"
            name="contact[body]"
            id="contact_message"
            required></textarea>
        </div>

      </div>
      <div class="flex px-1 mb-3">
        <div class="w-full px-3">
          <input
            class="px-4 py-2 border text-base font-medium bg-gray-900 text-white hover:bg-gray-700 resize-none"
            type="submit"
            value="Submit Message"
            class="text-white bg-gray-500 hover:bg-gray-800 ">
        </div>
      </div>
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Form",
    "presets": [
      {
        "name": "Contact Form"
      }
    ]
  }
{% endschema %}