<div class="px-4 py-8">
  <h1 class="3-xl text-center">{{ collection.title }}</h1>
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-col-1 md:grid-col-3 gap-4">
      {% for product in collection.products %}
        

      {% else %}
        <p>There are no products inside this collection</p>
      {% endfor %}
    </div>
  </div>
  {% paginate collection.products by 4 %}

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>