<div class="px-4 py-8">
  {% paginate collection.products by section.settings.products_per_page %}

    <h1 class="3-xl text-center">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-col-1 md:grid-col-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product_product: product %}
        {% else %}
          <p>There are no products inside this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "products_per_page",
        "default": 4,
        "label": "Number of products per page"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": true
      }
    ]
  }
{% endschema %}