{% paginate collection.products by 4 %}
  {% for product in collection.products %}
    {% else %}
      <p>There are no products inside this collection</p>
  {% endfor %}
  {% render 'pagination', pagination: %}
{% endpaginate %}